footer{
	.pageFooter{
		background:#313132;
		padding-top: 77px;
		padding-bottom: 22px;
		margin:0 -15px;
		.icons{
			margin-top: 65px;
			i{
				color: #777;
				font-size: 18px;
			    line-height: 30px;
			    width: 28px;
				height: 18px;
				font-size: 18px;
			    cursor: pointer;
			    &:hover{
			    		transition: all .2s linear;
			    		color:$textColor;
				    	}
			}
		}
		.maxCenter{
			max-width: 300px;
				.headingFirst{
					border-bottom:1px solid #777;
				h1{
					color: #fff;
					font-size: 24px;
					margin-bottom: 10px;
				}
			}
			.text{
				margin-top: 22px;
				p{
					color: #777;
					font-size: 16px;
				}
			}
			.btn{
				margin-left: -11px;
				input{
					padding: 11px 80px 11px 19px;
					border-radius: 100px;
					border:none;
					outline: none;
				}
				button{
					border:none;
					border-radius: 100px;
					padding: 13px 12px 11px 12px;
					margin-left: -48px;
					color: #fff;
					background: $textColor;
					font-size: 13px;
					font-weight: bold;
					&:hover{
						transition:all .4s ease;
						background: $mainColor;
					}
				}
			}
		}
		.maxRight{
			.heading{
				border-bottom:1px solid #777;
				h1{
					color: #fff;
					font-size: 24px;
					margin-bottom: 10px;
				}
			}
			.textArea{
				margin-top: 18px;
				.left{
					padding-right: 78px;
					margin-bottom: 32px;
					float: left;
					.top{
						height: 38px;
						margin-bottom: 18px;
						.icon{
							float: left;
							i{
								color: #fff;
								font-size: 18px;
							}
						}
						.text{
							float: left;
							padding-left: 14px;
							span{
								display: block;
								color: #777;
							}
						}
					}
					.bottom{
						.icon{
							display: inline-block;
							i{
							color: #fff;
							font-size: 15px;
							font-weight: bold;
							}
						}
						.text{
							display: inline-block;
							padding-left: 14px;
							a{
								font-size: 16px;
								&:hover{
									color:$mainColorLighter;
								}
							}
						}
					}
				}
				.right{
					float: left;
					.top{
						height: 38px;
						margin-bottom: 18px;
						.icon{
							float: left;
							i{
								color: #fff;
								font-size: 18px;
							}
						}
						.text{
							float: left;
							padding-left: 14px;
							span{
								display: block;
								color: #777;
							}
						}
					}
					.bottom{
						.icon{
							float: left;
							i{
								color: #fff;
								font-size: 18px;
							}
						}
						.text{
							float: left;
							padding-left: 14px;
							span{
								display: block;
								color: #777;
							}
						}
					}            	 	
				}
			}
		}
		.rights{
			margin-top: 88px;
			p{
				color: #777;
				font-size: 16px;
				a{
					color: #777;
					&:hover{
						color:$mainColorLight;
					}
				}
			}
		}
	}
}
@media(max-width:768px){
	footer{
		.container{
			.col-xs-10{
				left: 35%;
				.icons{
					margin-top:25px;
					margin-bottom:  40px;
				}
			}
			.col-xs-11{
				left: 26%;
				.headingFirst{
					h1{
						margin-left: 90px;
	    				font-size: 22px !important;
					}
				}
			}
			.col-xs-12{
				    left: 14%;
	    			margin-top: 50px;
	    			.maxRight{
						max-width: 80%;
					}
				.heading{
					h1{
						margin-left: 33%;
	    				font-size: 22px !important;
					}
				}
			}
		}
		.footerText{
			left: 19%;
			max-width: 80%;
			.rights{
				margin-top: 50px !important;
			}
		}
	}
}
@media(max-width:619px){
	footer{
		.container{
			.col-xs-12{
				.maxRight{
					.textArea{
						.left{
							padding-right:15px;
						}
					}
				}
			}
		}
	}
}

@media(max-width:539px){
	footer{
		.container{
			.col-xs-10{
				left: 24%;
				.icons{
					margin-top:25px;
					margin-bottom:  40px;
				}
			}
			.col-xs-11{
				left: 12%;
				.headingFirst{
					h1{
						margin-left: 90px;
	    				font-size: 22px !important;
					}
				}
			}
			.col-xs-12{
				    left: 2%;
	    			margin-top: 50px;
	    			.maxRight{
						max-width: 98%;
						.textArea{
							.left{
								margin-left:130px;
								.top{
										.icon{
											float: none !important;
											margin-left: 50px;
			    							margin-bottom: 10px;
									}
								}
								.bottom{
										.icon{
											float: none !important;
											margin-left: -60px;
										    margin-top: 30px;
										    margin-bottom: 10px;
										}
										.text{
											padding-left:0px;
										}
									}
							}
							.right{
								margin-left:130px;
								.top{
										.icon{
											float: none !important;
											margin-left: 60px;
			    							margin-bottom: 10px;
									}
									.text{
										text-align: center;
											margin-left:-15px;
											margin-bottom: 30px;
											padding-left:0px;
										}
								}
								.bottom{
										.icon{
											float: none !important;
											margin-left: 60px;
										    margin-bottom: 10px;
										}
										.text{
											text-align: center;
											margin-left:-15px;
											padding-left:0px;
										}
									}
							}
						}
					}
				.heading{
					h1{
						margin-left: 33%;
	    				font-size: 22px !important;
					}
				}
			}
		}
		.footerText{
			left: 4%;
			.rights{
				margin-top: 50px !important;
				p{
					font-size: 15px !important;
				}
			}
		}
	}
}
@media(max-width:409px){
	footer{
		.container{
			.col-xs-12{
					.maxRight{
						.textArea{
							.left{
								margin-left: 50px;
							}
							.right{
								margin-left: 50px;
							}
						}
					}
			}
		}
		.footerText{
			left: 20%;
		}
	}
}